.hero {
  background-image: url("../../images/background_home.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.row {
  margin: 0%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  width: 100vw;
  height: 100vh;
}

.column {
  opacity: 0;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.hero:hover .column {
  opacity: 1;
}

.logo img {
  position: absolute;
  width: 50%;
  top: 250px;
  left: 340px;
}

.media {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/background_home.png");
  background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/background_home.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading {
  position: absolute;
  top: 1040px;
  left: 130px;
}

.heading h1 {
  font-family: 'Playfair Display', serif;
  margin: 0%;
  font-size: 90px;
  color: white;
}

.media img {
  width: 500px;
  height: 400px;
  padding-top: 200px;
}

.media-intro {
  padding-top: 400px;
  padding-left: 90px;
  padding-right: 50px;
}

.media p {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  margin: 0%;
  color: white;
}

.Wine {
  position: absolute;
  top: 1800px;
  left: 670px;
}

.Wine h1 {
  font-family: 'Playfair Display', serif;
  margin: 0%;
  font-size: 90px;
  color: white;
}

.media-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media-item {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/background_home.png");
  background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/background_home.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}

.media-item-image {
  padding-top: 150px;
}

.media-item img {
  width: 600px;
  height: 400px;
}

.media-item-text {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 320px;
}

.media-item p {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  line-height: 45px;
  margin: 0%;
  text-align: center;
  color: white;
}

.image-layout {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/background_home.png");
  background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/background_home.png");
  background-size: cover;
  height: 95vh;
  width: 100vw;
  background-attachment: fixed;
}

.image-layout-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-layout-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0%;
}

.image-layout img {
  width: 33.33%;
}

#image1:hover {
  opacity: 0.3;
}

#image2:hover {
  opacity: 0.3;
}

#image3:hover {
  opacity: 0.3;
}

#image4:hover {
  opacity: 0.3;
}

#image5:hover {
  opacity: 0.3;
}

#theestate:hover {
  opacity: 0.3;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/background_home.png");
  background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/background_home.png");
  background-size: cover;
  height: 20vh;
  width: 100vw;
  background-attachment: fixed;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer p {
  font-family: 'Playfair Display', serif;
  line-height: 20px;
  color: white;
}

.footer-text-1 {
  font-size: 20px;
  padding-left: 50px;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer-text-2 {
  text-align: center;
  font-size: 15px;
  padding-right: 60px;
}

.footer-text-3 {
  font-size: 20px;
  padding-right: 50px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b67533;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding-left: 0%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Playfair Display', serif;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay-drop-down {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  padding-left: 0%;
  height: 0;
  overflow-y: hidden;
  -webkit-transition: height .5s ease;
  transition: height .5s ease;
}

.overlay-drop-down a {
  font-size: 25px;
  font-family: 'Playfair Display', serif;
}

#MENU {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 0%;
  margin: 10px;
}

.slide-down {
  height: 145px;
}

.info {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/damsteep.png");
  background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/damsteep.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-content {
  padding-left: 200px;
  padding-top: 0px;
  padding-right: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  background: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 40px;
  padding-left: 40px;
  border-style: block;
  border-color: black;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  outline: none;
}

.inquires {
  margin-left: 35px;
  background: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 40px;
  padding-left: 40px;
  border-style: solid;
  border-color: black;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  outline: none;
  text-decoration: none;
  color: black;
  border-width: thin;
}

.inquires:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.gallery {
  margin-left: 20px;
}

.gallery:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.info h1 {
  font-family: 'Playfair Display', serif;
  font-size: 90px;
  color: white;
}

.info p {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: white;
  line-height: 30px;
}

.info-text {
  padding-right: 120px;
}

::-webkit-input-placeholder {
  color: #e7e2e2;
  font-size: 13px;
}

:-ms-input-placeholder {
  color: #e7e2e2;
  font-size: 13px;
}

::-ms-input-placeholder {
  color: #e7e2e2;
  font-size: 13px;
}

::placeholder {
  color: #e7e2e2;
  font-size: 13px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: none;
  outline: none;
  border-radius: 0%;
}

input[type=submit] {
  color: black;
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin-left: 220px;
  outline: none;
  border-radius: 0%;
}

input[type=submit]:hover {
  background-color: #030303;
  color: white;
}

.contact-container {
  border-radius: 5px;
  padding-left: 450px;
  padding-right: 450px;
  padding-top: 40px;
}

label {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: white;
  margin-left: 220px;
}

textarea {
  font-family: 'Playfair Display', serif;
  font-size: 10px;
  color: #f1f1f1;
}

input[type=text] {
  font-family: 'Playfair Display', serif;
  font-size: 10px;
  color: #f1f1f1 !important;
}

.contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/background_home.png");
  background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/background_home.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 210px;
}

.contact-heading {
  position: absolute;
  top: 100px;
  left: 600px;
}

.contact-heading h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: white;
}

.cellar-door {
  position: absolute;
  top: 880px;
}

.cellar-door h1 {
  margin: 0%;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-align: center;
}

.cellar-door p {
  margin: 0%;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
  padding-left: 610px;
  padding-right: 610px;
}

.contact-info {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/background_home.png");
  background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/background_home.png");
  background-size: cover;
  height: 40vh;
  width: 100vw;
  background-attachment: fixed;
}

.contact-details {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/background_home.png");
  background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/background_home.png");
  background-size: cover;
  height: 40vh;
  width: 100vw;
  background-attachment: fixed;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 550px;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-info-1 {
  padding-right: 150px;
}

.contact-info-2 {
  padding-left: 150px;
}

.contact-info-3 {
  padding-right: 150px;
}

.contact-info-4 {
  padding-left: 150px;
}

.contact-info h1 {
  margin: 0%;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
}

.contact-info p {
  margin: 0%;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
}

.contact-details h1 {
  margin: 0%;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
}

.contact-details p {
  margin: 0%;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
}

.map {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/background_home.png");
  background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/background_home.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}

.social {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/background_home.png");
  background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/background_home.png");
  background-size: cover;
  height: 10vh;
  width: 100vw;
  background-attachment: fixed;
}

.social-accounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-accounts p {
  margin: 0%;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.social-accounts:hover {
  text-decoration: underline;
  cursor: pointer;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}

.contact-submit {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/background_home.png");
  background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/background_home.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}

.contact-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-submit-content {
  padding-left: 200px;
  padding-top: 0px;
  padding-right: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact-submit p {
  margin: 0%;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  padding-bottom: 20px;
}

#return {
  margin: 0%;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-decoration: none;
  border-style: solid;
  border-color: black;
  border-width: thin;
  padding: 5px;
}

#return:hover {
  cursor: pointer;
  background: black;
  color: white;
}

@media only screen and (max-width: 600px) {
  .row {
    display: none;
  }
  .hero {
    background-image: url("../../images/background_home.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  .logo img {
    position: absolute;
    width: 20%;
  }
  .media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .media img {
    width: 100vw;
    height: 50vh;
    background-size: cover;
    padding-top: 0px;
  }
  .heading {
    position: absolute;
    top: 760px;
    left: 140px;
  }
  .heading h1 {
    font-family: 'Playfair Display', serif;
    margin: 0%;
    font-size: 40px;
    color: white;
  }
  .media-intro {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .media p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    margin: 0%;
    color: white;
  }
  .Wine {
    position: absolute;
  }
  .Wine h1 {
    font-family: 'Playfair Display', serif;
    margin: 0%;
    font-size: 40px;
    color: white;
  }
  .media-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .media-item img {
    display: none;
  }
  .media-item-text {
    padding-top: 300px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .media-item p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    margin: 0%;
    color: white;
  }
  .image-layout {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/background_home.png");
    background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/background_home.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
  }
  .image-layout-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 140px;
  }
  .image-layout-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-layout img {
    width: 100vw;
    height: 50vh;
  }
  #image1:hover {
    opacity: 1;
  }
  #image2:hover {
    opacity: 1;
  }
  #image3:hover {
    opacity: 1;
  }
  #image4:hover {
    opacity: 1;
  }
  #image5:hover {
    opacity: 1;
  }
  #theestate:hover {
    opacity: 1;
  }
  .footer {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 117, 51, 0.918)), to(rgba(182, 117, 51, 0.747))), url("../../images/background_home.png");
    background: linear-gradient(rgba(182, 117, 51, 0.918), rgba(182, 117, 51, 0.747)), url("../../images/background_home.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
  }
  .footer-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-text {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    margin: 0%;
    color: white;
  }
}
/*# sourceMappingURL=app.css.map */