//  HEADER

 .hero {
    background-image: url('../../images/background_home.png');
      background-size: cover;
 height: 100vh;
 width: 100vw;
  }

  .row  {
    margin: 0%;
}

.row {
    display: flex;
}


 .column {
     width: 100vw;
     height:100vh;

 }
  .column{
     opacity: 0;
     transition: all ease 0.8s;
  }

  .hero:hover .column{
    opacity: 1;
  }


 
.logo img {
    position: absolute;
    width: 50%;
    top: 250px;
    left: 340px;
}

// FAMILY GROWN
.media {
    
        background: 
            linear-gradient(
                rgba(182, 117, 51, 0.918), 
                rgba(182, 117, 51, 0.747)
          ),
          url('../../images/background_home.png');
background-size: cover;
height: 100vh;
width: 100vw;
background-attachment: fixed;
}

.media {
display: flex;
}

.heading{
    position: absolute;
    top: 1040px;
    left: 130px;
}
.heading h1 {
font-family: 'Playfair Display', serif; 
    margin: 0%;
    font-size: 90px;
    color: white;
}

 .media img {
    width: 500px;
    height: 400px;
padding-top: 200px;
 }

.media-intro {
    padding-top: 400px;
    padding-left: 90px;
    padding-right: 50px;
}

.media p {
    font-family: 'Playfair Display', serif; 
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    margin: 0%;
    color: white;
}

// OUR WINE
.Wine {
position: absolute;
top: 1800px;
left: 670px;
}
.Wine h1 {

    font-family: 'Playfair Display', serif; 
        margin: 0%;
        font-size: 90px;
        color: white;
    }
    .media-item {
        display: flex;
    }
.media-item {
    background: 
        linear-gradient(
            rgba(182, 117, 51, 0.918), 
            rgba(182, 117, 51, 0.747)
    ),
    url('../../images/background_home.png');

background-size: cover;
height: 100vh;
width: 100vw;
background-attachment: fixed;
    }


.media-item-image{
padding-top: 150px;
}
.media-item img {
    width: 600px;
    height: 400px;
 }

 .media-item-text{
     padding-left: 100px;
     padding-right: 100px;
     padding-top: 320px;
 }

.media-item p {
    font-family: 'Playfair Display', serif; 
    font-size: 30px;
    line-height: 45px;
    margin: 0%;
    text-align: center;
    color: white;
}

// Images
.image-layout {
    background: 
    linear-gradient(
        rgba(182, 117, 51, 0.918), 
        rgba(182, 117, 51, 0.747)
    ),
    url('../../images/background_home.png');

background-size: cover;
height: 95vh;
width: 100vw;
background-attachment: fixed;
    }

.image-layout-1{ 
   display: flex;
}
.image-layout-2{
   display: flex;
   padding-bottom: 0%;
}
.image-layout img {
    width: 33.33%;
 }


 #image1:hover {
opacity: 0.3;

 }

 #image2:hover{
    opacity: 0.3;
 }
 #image3:hover{
    opacity: 0.3;
}
#image4:hover{
    opacity: 0.3;
}
#image5:hover{
    opacity: 0.3;
}
 #theestate:hover{
    opacity: 0.3;
 }



//  Footer

 .footer {
    background: 
    linear-gradient(
        rgba(182, 117, 51, 0.918), 
        rgba(182, 117, 51, 0.747)
    ),
    url('../../images/background_home.png');

background-size: cover;
height: 20vh;
width: 100vw;
background-attachment: fixed;
    }
 .footer-text{
    display: flex;
    justify-content: space-between;
 }
 
 .footer p {
    font-family: 'Playfair Display', serif; 
    line-height: 20px;
    color: white;
}
.footer-text-1{
    font-size: 20px;
    padding-left: 50px;
    text-decoration-color: white;
    text-decoration-line: underline;
}
.footer-text-2{
    text-align: center;
    font-size: 15px;
    padding-right: 60px;
    

}
.footer-text-3{
    font-size: 20px;
    padding-right: 50px;
    text-decoration-line: underline;
    text-decoration-color: white;
}

// Menu
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(182, 117, 51);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding-left: 0%;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: 'Playfair Display', serif; 
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

.overlay-drop-down{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    padding-left: 0%;
   height: 0;
   overflow-y: hidden;
   transition: height .5s ease;

    
}
.overlay-drop-down a {
    font-size: 25px;
    font-family: 'Playfair Display', serif; 
}
  #MENU {
    font-family: 'Playfair Display', serif; 
      font-size:30px;
      cursor: pointer; 
      position: fixed;
      top: 0%;
      margin: 10px;
  }
 

  //helpers 

  .slide-down {
      height: 145px;
     
  }



//Index 2
.info{
    background: 
    linear-gradient(
        rgba(182, 117, 51, 0.918), 
        rgba(182, 117, 51, 0.747)
    ),
    url('../../images/damsteep.png');

background-size: cover;
height: 100vh;
width: 100vw;
  }
 
.info {
    display: flex;
    justify-content: center;
    align-items: center;
}
 .info-content{
    padding-left: 200px;
    padding-top: 0px;
   
    padding-right: 200px;
    align-items: center;
 }

 button{
     background: none;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 40px;
     padding-left: 40px;
     border-style: block;
     border-color: black;
     font-family: 'Playfair Display', serif; 
     font-size: 20px;
     outline: none;

 }

 .inquires{
     margin-left: 35px;
     background: none;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 40px;
     padding-left: 40px;
     border-style: solid;
     border-color: black;
     font-family: 'Playfair Display', serif; 
     font-size: 20px;
     outline: none;
     text-decoration: none;
     color: black;
     border-width: thin;
 }
 .inquires:hover{
    cursor: pointer;
    background: black;
    color: white;
}
 .gallery{
     margin-left: 20px;
 }
 .gallery:hover{
    cursor: pointer;
    background: black;
    color: white;
    
}
.info h1 {
    font-family: 'Playfair Display', serif; 
    font-size: 90px;
    color: white;
}
.info p {
    font-family: 'Playfair Display', serif; 
    font-size: 25px;
    color: white;
    line-height: 30px;
 }
.info-text{
    padding-right: 120px;
 }


//  Index 3

// CONTACT FORM

::placeholder {
    color: rgb(231, 226, 226);
    font-size: 13px;
  }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: none;
    outline: none;
    border-radius: 0%;
  }
  
  input[type=submit] {
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    background: none;
    font-family: 'Playfair Display', serif; 
    font-size: 20px;
    margin-left: 220px;
    outline: none;
    border-radius: 0%;
  }
  
  input[type=submit]:hover {
    background-color: #030303;
    color: white;
  }
  
  .contact-container {
    border-radius: 5px;
    padding-left: 450px;
    padding-right: 450px;
    padding-top: 40px;
    
  }

label{
    font-family: 'Playfair Display', serif; 
    font-size: 20px;
    color: white;
    margin-left: 220px;
}

textarea {
    font-family: 'Playfair Display', serif; 
    font-size: 10px;
    color: #f1f1f1;
}

input[type=text]{
    font-family: 'Playfair Display', serif; 
    font-size: 10px;
    color: #f1f1f1 !important;
}
.contact {
    background: 
    linear-gradient(
        rgba(182, 117, 51, 0.918), 
        rgba(182, 117, 51, 0.747)
    ),
    url('../../images/background_home.png');

background-size: cover;
height: 100vh;
width: 100vw;
background-attachment: fixed;
}

.contact{
    display: flex;
    justify-content: center;
    padding-top: 210px;
}
.contact-heading{
   position: absolute;
   top:100px;
   left: 600px;
}
.contact-heading h1{
    font-family: 'Playfair Display', serif; 
    font-size: 50px;
    color: white;
}


.cellar-door{
    position: absolute;
    top: 880px;
 }
 
 .cellar-door h1{
     margin: 0%;
     color: white;
     font-family: 'Playfair Display', serif; 
     font-size: 40px; 
     text-align: center;
 }
 
 .cellar-door p{
     margin: 0%;
     color: white;
     font-family: 'Playfair Display', serif; 
     font-size: 30px; 
     text-align: center;
     padding-left: 610px;
     padding-right: 610px;
 }
 
 

.contact-info {
   
    background: 
    linear-gradient(
        rgba(182, 117, 51, 0.918), 
        rgba(182, 117, 51, 0.747)
    ),
    url('../../images/background_home.png');

background-size: cover;
height: 40vh;
width: 100vw;
background-attachment: fixed;
}
.contact-details {
   
    background: 
    linear-gradient(
        rgba(182, 117, 51, 0.918), 
        rgba(182, 117, 51, 0.747)
    ),
    url('../../images/background_home.png');

background-size: cover;
height: 40vh;
width: 100vw;
background-attachment: fixed;
}
.contact-info {
    display: flex;
    justify-content: center;
    padding-top: 550px;

}

.contact-details{
    display: flex;
    justify-content: center;
}

.contact-info-1 {
padding-right: 150px;
}
.contact-info-2 {
    padding-left: 150px;
}
.contact-info-3 {
    padding-right: 150px;
}
.contact-info-4 {
    padding-left: 150px;
}


.contact-info h1{
    margin: 0%;
    color: white;
    font-family: 'Playfair Display', serif; 
    font-size: 30px; 
    text-align: center;
}
.contact-info p{
    margin: 0%;
    color: white;
    font-family: 'Playfair Display', serif; 
    font-size: 30px; 
    text-align: center;
}

.contact-details h1 {
    margin: 0%;
    color: white;
    font-family: 'Playfair Display', serif; 
    font-size: 30px; 
    text-align: center;
}
.contact-details p {
    margin: 0%;
    color: white;
    font-family: 'Playfair Display', serif; 
    font-size: 30px; 
    text-align: center;  
}

.map {
    background: 
    linear-gradient(
        rgba(182, 117, 51, 0.918), 
        rgba(182, 117, 51, 0.747)
    ),
    url('../../images/background_home.png');

background-size: cover;
height: 100vh;
width: 100vw;
background-attachment: fixed; 
}

.social{
    background: 
    linear-gradient(
        rgba(182, 117, 51, 0.918), 
        rgba(182, 117, 51, 0.747)
    ),
    url('../../images/background_home.png');

background-size: cover;
height: 10vh;
width: 100vw;
background-attachment: fixed; 
}
.social-accounts{
    display: flex;
    justify-content: center;
}

.social-accounts p {
    margin: 0%;
    color: white;
    font-family: 'Playfair Display', serif; 
    font-size: 20px; 
}

.social-accounts:hover{
text-decoration: underline;
cursor: pointer;
text-decoration-color: white;
}


// INDEX 4 
.contact-submit{
    background: 
    linear-gradient(
        rgba(182, 117, 51, 0.918), 
        rgba(182, 117, 51, 0.747)
    ),
    url('../../images/background_home.png');

background-size: cover;
height: 100vh;
width: 100vw;
background-attachment: fixed; 
}

.contact-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-submit-content{
    padding-left: 200px;
    padding-top: 0px;
   
    padding-right: 200px;
    align-items: center;
    text-align: center;
}
.contact-submit p {
    margin: 0%;
    color: white;
    font-family: 'Playfair Display', serif; 
    font-size: 80px;
    padding-bottom: 20px;
    
}

#return {
    margin: 0%;
    color: white;
    font-family: 'Playfair Display', serif; 
    font-size: 20px; 
    text-decoration: none;
    border-style: solid;
     border-color: black;
  border-width: thin;
  padding: 5px;
}

#return:hover{
    cursor: pointer;
    background: black;
    color: white;  
}



@media only screen and (max-width:600px) {

// Home page
.row{
    display: none;
}
.hero {
    background-image: url('../../images/background_home.png');
    background-size: cover;
 height: 100vh;
 width: 100vw;
  }

  .logo img {
    position: absolute;
    width: 20%;
}

.media {
    flex-direction: column;
    }

.media img {
    width: 100vw;
    height: 50vh;
    background-size: cover;
    padding-top: 0px;
 }

 .heading{
    position: absolute;
    top: 760px;
    left: 140px;
}
.heading h1 {
font-family: 'Playfair Display', serif; 
    margin: 0%;
    font-size: 40px;
    color: white;
}  

.media-intro {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.media p {
    font-family: 'Playfair Display', serif; 
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    margin: 0%;
    color: white;
}

.Wine {
    position: absolute;
    
    }
    .Wine h1 {
    
        font-family: 'Playfair Display', serif; 
            margin: 0%;
            font-size: 40px;
            color: white;
        }
        .media-item{
            flex-direction: column;
        }
       
            .media-item img {
           display: none;
             }
            
             .media-item-text{
                padding-top: 300px;
    padding-left: 20px;
    padding-right: 20px;
             }
            
            .media-item p {
                font-family: 'Playfair Display', serif; 
                font-size: 20px;
                line-height: 45px;
                text-align: center;
                margin: 0%;
                color: white;
            }

            .image-layout {
                background: 
                linear-gradient(
                    rgba(182, 117, 51, 0.918), 
                    rgba(182, 117, 51, 0.747)
                ),
                url('../../images/background_home.png');
            
            background-size: cover;
            height: 100vh;
            width: 100vw;
            background-attachment: fixed;
            }

            .image-layout-1{ 
                flex-direction: column;
                padding-top: 140px;
             }
             .image-layout-2{
                flex-direction: column;
             }
             .image-layout img {
                 width: 100vw;
                 height: 50vh;
             }
             #image1:hover {
                opacity: 1;
                
                 }
                
                 #image2:hover{
                    opacity: 1;
                 }
                 #image3:hover{
                    opacity: 1;
                }
                #image4:hover{
                    opacity: 1;
                }
                #image5:hover{
                    opacity: 1;
                }
                 #theestate:hover{
                    opacity: 1;
                 }


                 .footer {
                    background: 
                    linear-gradient(
                        rgba(182, 117, 51, 0.918), 
                        rgba(182, 117, 51, 0.747)
                    ),
                    url('../../images/background_home.png');
                
                background-size: cover;
                height: 100vh;
                width: 100vw;
                background-attachment: fixed;
                    }


             .footer-text{
                flex-direction: column;
               justify-content: center;
               align-items: center;

             }
             .footer-text{
                font-family: 'Playfair Display', serif; 
                font-size: 20px;
                line-height: 45px;
                text-align: center;
                margin: 0%;
                color: white;
             }
            }